In [ ]:
with open('abc/text.txt','w') as f:
    f.write('hello')

In [5]:
d = open('abc/text.txt','r')
d.read()
d.close()

In [8]:
e = open('abc/text.txt', 'w')
e.write('hi ttenk kong')
e.close()

In [11]:
s = open('abc/text.txt', 'a')
s.write('\n이건 내가 쓴 게 아닙니다')
s.close()

In [ ]:
with open('abc/text.txt','r') as re:
    first_line = re.read()
    print(first_line)

hi ttenk kong
이건 내가 쓴 게 아닙니다
이건 내가 쓴 게 아닙니다
이건 내가 쓴 게 아닙니다

In [19]:
with open('abc/text.txt','r') as re:
    first_line = re.readlines()

for line in first_line:
    print(line.strip())

hi ttenk kong
이건 내가 쓴 게 아닙니다
이건 내가 쓴 게 아닙니다
이건 내가 쓴 게 아닙니다

# 직렬화

dump() 는 짐을 가방에 넣는 것 (파일에 저장) dump(함수, 파일)
<br>
load() 는 짐을 가방에서 꺼내는 것 (다시 사용 가능) 파일형식.load(file 약자)

In [1]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

In [5]:
# 직렬화하여 파일에 저장
with open('abc/jeehun.pickle','wb') as f:
    pickle.dump(data, f)

In [7]:
# 파일에서 역직렬화하여 읽기
with open('abc/jeehun.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [15]:
import csv
data = [['name','age'], ['bob', '20'], ['alice', '15']]
data

[['name', 'age'], ['bob', '20'], ['alice', '15']]

In [16]:
with open('abc/bob.csv','w') as f:
    wrt = csv.writer(f)
    wrt.writerow(data)

In [17]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv('abc/aloce.csv')

In [20]:
pd.read_csv('abc/bob.csv')

Empty DataFrame
Columns: [['name', 'age'], ['bob', '20'], ['alice', '15']]
Index: []