# ğŸ“˜ Pandas ë³µìŠµ ë¬¸ì œ

ì•„ë˜ëŠ” ì˜¤ëŠ˜ í•™ìŠµí•œ ë‚´ìš©ì„ ë³µìŠµí•  ìˆ˜ ìˆëŠ” ë¬¸ì œì…ë‹ˆë‹¤.

### 1. Pandasë€ ë¬´ì—‡ì´ë©°, ë°ì´í„° ì—”ì§€ë‹ˆì–´ê°€ ì™œ Pandasë¥¼ ì‚¬ìš©í•´ì•¼ í•˜ëŠ”ì§€ ì„œìˆ í•˜ì„¸ìš”.

ë°ì´í„°ì—”ì§€ë‹ˆì–´ëŠ” ëŒ€ëŸ‰ì˜ ë°ì´í„°ë¥¼ ìˆ˜ì§‘, ì •ì œ, ê°€ê³µí•˜ëŠ” ì—­í• ì„ ë§¡ìŠµë‹ˆë‹¤. ì´ ê³¼ì •ì—ì„œ ë°ì´í„°ë¥¼ í‘œ í˜•íƒœë¡œ ë‹¤ë£¨ëŠ” ì¼ì´ ë§¤ìš° ë§ì€ë°, PandasëŠ” ì´ ê³¼ì •ì„ ë¹ ë¥´ê³  ì‰½ê²Œ ì²˜ë¦¬í•  ìˆ˜ ìˆë„ë¡ ë„ì™€ì£¼ëŠ” í•„ìˆ˜ ë„êµ¬ì…ë‹ˆë‹¤.

ì˜ˆë¥¼ë“¤ì–´: CSV, EXECL, SQL ë“± ë‹¤ì–‘í•œ ì†ŒìŠ¤ì˜ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ ê°€ê³µ
ê²°ì¸¡ê°’ ì²˜ë¦¬, ì—´/í–‰ ì¶”ê°€ ë° ì‚­ì œ, ì¸ë±ì‹± ë“± ë°ì´í„° ì „ì²˜ë¦¬
í†µê³„ ìš”ì•½, ê·¸ë£¹í™” í•„í„°ë§ ë“± ë¶„ì„ ì „ì²˜ë¦¬ ë‹¨ê³„ì— ì“°ì…ë‹ˆë‹¤

ê²°êµ­ PandasëŠ” ë°ì´í„°ë¥¼ ì—‘ì…€ì²˜ëŸ¼ ì‰½ê²Œ ë‹¤ë£° ìˆ˜ ìˆê²Œ ë„ì™€ì£¼ëŠ” íŒŒì´ì¬ ë„êµ¬ ì…ë‹ˆë‹¤.

### 2. Seriesì™€ DataFrameì˜ ì°¨ì´ë¥¼ í‘œë¡œ ì •ë¦¬í•´ë³´ì„¸ìš”.

SeriesëŠ” ì¼ë ¬ë¡œ ì •ë¦¬ëœ ë°ì´í„° ì¦‰, 1ì°¨ì› ë°ì´í„°ì´ê³  DataFrameì€ í–‰ê³¼ ì—´ë¡œ ì´ë£¨ì–´ì§„ 2ì°¨ì› ë°ì´í„° ì…ë‹ˆë‹¤.

### 3. ë‹¤ìŒ ë¦¬ìŠ¤íŠ¸ë¥¼ Seriesë¡œ ë³€í™˜í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
   data = [10, 20, 30, 40]

In [12]:
data1 = [10, 20, 30, 40]

import pandas as pd

dt = pd.Series(data1)

type(dt)

pandas.core.series.Series

### 4. ë‹¤ìŒê³¼ ê°™ì€ ë”•ì…”ë„ˆë¦¬ë¥¼ ì´ìš©í•˜ì—¬ Seriesë¥¼ ìƒì„±í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
   data = {'a': 1, 'b': 2, 'c': 3}

In [13]:
data_3 = {'a': 1, 'b': 2, 'c': 3}

dt2 = pd.Series(data_3)

dt2

a    1
b    2
c    3
dtype: int64

### 5. ë‹¤ìŒ ë°ì´í„°ë¥¼ ì´ìš©í•´ DataFrameì„ ìƒì„±í•˜ê³ , ì—´ ì´ë¦„ì„ 'ì´ë¦„', 'ë‚˜ì´', 'ì„±ì 'ìœ¼ë¡œ ì„¤ì •í•˜ì„¸ìš”.
   data = [['ì˜í¬', 23, 90], ['ì² ìˆ˜', 25, 85], ['ë¯¼ìˆ˜', 21, 78]]

In [14]:
dt_1 = [['ì˜í¬', 23, 90], ['ì² ìˆ˜', 25, 85], ['ë¯¼ìˆ˜', 21, 78]]

dt3 = pd.DataFrame(dt_1, columns=['ì´ë¦„','ë‚˜ì´','ì„±ì '])
dt3

   ì´ë¦„  ë‚˜ì´  ì„±ì
0  ì˜í¬  23  90
1  ì² ìˆ˜  25  85
2  ë¯¼ìˆ˜  21  78

### 6. DataFrameì—ì„œ ì²˜ìŒ 3ê°œì˜ í–‰ë§Œ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [15]:
dt3.loc[3] = ['ì§€í›ˆ',31,100]

In [16]:
dt3.iloc[:3,:]

   ì´ë¦„  ë‚˜ì´  ì„±ì
0  ì˜í¬  23  90
1  ì² ìˆ˜  25  85
2  ë¯¼ìˆ˜  21  78

In [17]:
dt3.iloc[[0,1,2],:] #ì¸ë±ì‹± í•  ê±°ë©´ ê´„í˜¸!!! ìŠ¬ë¼ì´ì‹±í• ê±°ë©´ ê´„í˜¸ ì—†ì´

   ì´ë¦„  ë‚˜ì´  ì„±ì
0  ì˜í¬  23  90
1  ì² ìˆ˜  25  85
2  ë¯¼ìˆ˜  21  78

In [18]:
dt3.iloc[0:3,:]

   ì´ë¦„  ë‚˜ì´  ì„±ì
0  ì˜í¬  23  90
1  ì² ìˆ˜  25  85
2  ë¯¼ìˆ˜  21  78

### 7. DataFrameì˜ êµ¬ì¡°(í–‰/ì—´ ìˆ˜, ì—´ë³„ ë°ì´í„° íƒ€ì… ë“±)ë¥¼ í™•ì¸í•˜ëŠ” ë°©ë²•ì„ ì½”ë“œë¡œ ì‘ì„±í•˜ì„¸ìš”.

In [21]:
dt3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      4 non-null      object
 1   ë‚˜ì´      4 non-null      int64
 2   ì„±ì       4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

### 8. DataFrameì—ì„œ 'ë‚˜ì´' ì—´ë§Œ ì„ íƒí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [23]:
dt3.iloc[:,1]

0    23
1    25
2    21
3    31
Name: ë‚˜ì´, dtype: int64

### 9. 'ë‚˜ì´'ê°€ 23ì„¸ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [24]:
dt3[dt3['ë‚˜ì´']>=23]

   ì´ë¦„  ë‚˜ì´   ì„±ì
0  ì˜í¬  23   90
1  ì² ìˆ˜  25   85
3  ì§€í›ˆ  31  100

### 10. DataFrameì— 'ì„±ë³„' ì—´ì„ ì¶”ê°€í•˜ê³ , ['ì—¬', 'ë‚¨', 'ë‚¨'] ë°ì´í„°ë¥¼ ì…ë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [31]:
dt3['ì„±ë³„'] = ['ì—¬', 'ë‚¨', 'ë‚¨','ë‚¨'] 
dt3.insert(loc=4, column='ë°˜', value=['1ë°˜','1ë°˜','2ë°˜','2ë°˜'])

In [32]:
dt3

   ì´ë¦„  ë‚˜ì´   ì„±ì  ì„±ë³„   ë°˜
0  ì˜í¬  23   90  ì—¬  1ë°˜
1  ì² ìˆ˜  25   85  ë‚¨  1ë°˜
2  ë¯¼ìˆ˜  21   78  ë‚¨  2ë°˜
3  ì§€í›ˆ  31  100  ë‚¨  2ë°˜

### 11. DataFrameì—ì„œ 'ì„±ì ' ì—´ì„ ì‚­ì œí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [35]:
dt3.drop('ì„±ì ',axis=1)

   ì´ë¦„  ë‚˜ì´ ì„±ë³„   ë°˜
0  ì˜í¬  23  ì—¬  1ë°˜
1  ì² ìˆ˜  25  ë‚¨  1ë°˜
2  ë¯¼ìˆ˜  21  ë‚¨  2ë°˜
3  ì§€í›ˆ  31  ë‚¨  2ë°˜

### 12. DataFrameì˜ ì¸ë±ìŠ¤ë¥¼ ['1ë°˜', '2ë°˜', '3ë°˜']ìœ¼ë¡œ ë³€ê²½í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [37]:
dt3.rename({0:'1ë°˜',1:'2ë°˜',2:'3ë°˜',3:'4ë°˜'})

    ì´ë¦„  ë‚˜ì´   ì„±ì  ì„±ë³„   ë°˜
1ë°˜  ì˜í¬  23   90  ì—¬  1ë°˜
2ë°˜  ì² ìˆ˜  25   85  ë‚¨  1ë°˜
3ë°˜  ë¯¼ìˆ˜  21   78  ë‚¨  2ë°˜
4ë°˜  ì§€í›ˆ  31  100  ë‚¨  2ë°˜

### 13. 'ì² ìˆ˜'ì˜ ì„±ì ì„ 95ì ìœ¼ë¡œ ìˆ˜ì •í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš” (loc ë˜ëŠ” iloc ì‚¬ìš©).

In [41]:
dt3.iloc[1,2] = [95]

In [42]:
dt3

   ì´ë¦„  ë‚˜ì´   ì„±ì  ì„±ë³„   ë°˜
0  ì˜í¬  23   90  ì—¬  1ë°˜
1  ì² ìˆ˜  25   95  ë‚¨  1ë°˜
2  ë¯¼ìˆ˜  21   78  ë‚¨  2ë°˜
3  ì§€í›ˆ  31  100  ë‚¨  2ë°˜

### 14. DataFrameì˜ ëª¨ë“  ìˆ˜ì¹˜í˜• ì—´ì— ëŒ€í•´ í‰ê· ì„ êµ¬í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [48]:
dt3.iloc[:,1:3].mean()

ë‚˜ì´    25.00
ì„±ì     90.75
dtype: float64

### 15. '2025-01-01'ë¶€í„° ì¼ì£¼ì¼ì¹˜ ë‚ ì§œ ì¸ë±ìŠ¤ë¥¼ ìƒì„±í•˜ê³  ì´ë¥¼ DataFrameì˜ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [ ]:
data2 = pd.date_range(2025-1-1,periods=4,freq='d')

In [51]:
data2

dt3['ë‚ ì§œ'] = data2

In [ ]:
dt3[:,5].rou

   ì´ë¦„  ë‚˜ì´   ì„±ì  ì„±ë³„   ë°˜                            ë‚ ì§œ
0  ì˜í¬  23   90  ì—¬  1ë°˜ 1970-01-01 00:00:00.000002023
1  ì² ìˆ˜  25   95  ë‚¨  1ë°˜ 1970-01-02 00:00:00.000002023
2  ë¯¼ìˆ˜  21   78  ë‚¨  2ë°˜ 1970-01-03 00:00:00.000002023
3  ì§€í›ˆ  31  100  ë‚¨  2ë°˜ 1970-01-04 00:00:00.000002023

In [59]:
dt3 = dt3.drop('ë‚ ì§œ',axis=1)

In [56]:
data3 = data2.date

In [ ]:
data3

array([datetime.date(1970, 1, 1), datetime.date(1970, 1, 2),
       datetime.date(1970, 1, 3), datetime.date(1970, 1, 4)], dtype=object)

In [60]:
dt3.insert(loc=5,column='ë‚ ì§œ',value=data3)

In [61]:
dt3

   ì´ë¦„  ë‚˜ì´   ì„±ì  ì„±ë³„   ë°˜          ë‚ ì§œ
0  ì˜í¬  23   90  ì—¬  1ë°˜  1970-01-01
1  ì² ìˆ˜  25   95  ë‚¨  1ë°˜  1970-01-02
2  ë¯¼ìˆ˜  21   78  ë‚¨  2ë°˜  1970-01-03
3  ì§€í›ˆ  31  100  ë‚¨  2ë°˜  1970-01-04